@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1 align="center">GeoAgenda</h1>
    <p class="lead" align="center">Sistema de agendamiento de cargas.</p>
    <img src="~/Content/Logos/GeoLogo.jpg" style="width:304px;height:228px;margin:0px auto;display:block">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Carga de Clientes</h2>
        <p>
            Agregue los clientes, con su latitud y longitud para tener el lugar exacto del local.
        </p>
        <img src="~/Content/Logos/GeoCliente.png" alt="Mountain View" style="width:304px;height:228px;">
        <p><a href="~/Cliente/" class="btn btn-primary btn-lg">Empezar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gestion de Vehiculos</h2>
        <p>Vea los vehiculos que se tiene y asigne conductores a los mismos</p>
        <img src="~/Content/Logos/GeoVehiculo.jpg" alt="Mountain View" style="width:304px;height:228px;">
        <p><a href="~/Vehiculo/" class="btn btn-primary btn-lg">Empezar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visualizacion de rutas</h2>
        <p>Trace rutas para llegar a los clientes</p>
        <img src="~/Content/Logos/GeoRuta.jpg" alt="Mountain View" style="width:304px;height:228px;">
        <p><a href="~/HojaRuta/Create" class="btn btn-primary btn-lg">Empezar &raquo;</a></p>
    </div>
</div>